<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <div class="row align-items-center">
            <div class="col-12">
              <h4 class="page-title">Facility Master</h4>
            </div>
          </div>
        </div>
        <div class="card ">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-sm-4"></div>
              <div class="col-sm-8">
                <div class="d-flex align-items-center flex-wrap row-gap-2 justify-content-sm-end">
                  <div class="dropdown me-2"> <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown"><i class="ti ti-package-export me-2"></i>Export</a>
                    <div class="dropdown-menu  dropdown-menu-end">
                      <ul>
                        <li> <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-file-type-pdf text-danger me-1"></i>Export as PDF</a> </li>
                        <li> <a href="javascript:void(0);" class="dropdown-item"><i class="ti ti-file-type-xls text-green me-1"></i>Export as Excel </a> </li>
                      </ul>
                    </div>
                  </div>
                  <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_deal"><i class="ti ti-square-rounded-plus me-2"></i>Add New Facility</a> </div>                
                </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive custom-table">
              <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row dt-row"><div class="col-sm-12 table-responsive"><table class="table datatable dataTable no-footer" id="DataTables_Table_0">
                <thead class="thead-light">
                  <tr>
                    <th class="no-sort sorting sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label=" 
                        
                        : activate to sort column descending" style="width: 97.9531px;">
                        <label class="checkboxs">
                        <input type="checkbox" id="select-all">
                        <span class="checkmarks"></span></label></th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 185.438px;">Date</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Facility Id: activate to sort column ascending" style="width: 181.391px;">Facility Id</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Facility Name: activate to sort column ascending" style="width: 303.797px;">Facility Name</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 162.703px;">Status</th>
                      <th class="text-end sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 135.828px;">Action</th></tr>
                </thead>
                <tbody>
                  
                  <% if(facility_master.length > 0) { %>

                    <% facility_master.forEach(item => { %>
                      <tr>                        
                        <td class="sorting_1">
                          <label class="checkboxs">
                            <input type="checkbox" id="<%= item.id %>">
                            <span class="checkmarks"></span>
                          </label>
                        </td>
                        <td><%= new Date(item.createdAt).toLocaleString() %></td>
                        <td><%= item.identifier %></td>
                        <td><%= item.name %></td>
                        <td><%= item.status %></td>
                        <td class="text-end">
                          <div class="dropdown table-action">
                            <a href="javascript:void(0)" class="action-icon" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="fa fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <button type="button" class="dropdown-item" data-id="<%= item.id %>">
                                <i class="ti ti-edit text-blue"></i>Edit 
                              </button>
                              <button type="button" class="dropdown-item delete-item" data-id="<%= item.id %>">
                                <i class="ti ti-trash text-danger"></i>Delete 
                              </button>
                            </div>
                          </div>
                        </td>
                      </tr>
                    <% }); %>
                  <% } %>
                </tbody>
              </table></div></div><div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7"></div></div></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Add Facility Master Popup -->
  <div class="modal custom-modal fade" id="add_deal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Facility Master</h5>
          <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"> <i class="ti ti-x"></i> </button>
        </div>
        <div class="modal-body">
          <form id="addFacility">
			      <div class="mb-3">
              <label class="col-form-label">Facility Id</label>
              <input type="text" class="form-control" placeholder="Enter Facility ID" name="facilityId">
            </div>
            <div class="mb-3">
              <label class="col-form-label">Facility Name</label>
              <input type="text" class="form-control" placeholder="Enter Facility Name" name="facilityName">
            </div>
            <div class="d-flex align-items-center justify-content-end">
              <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Facility Master Popup --> 

<%- contentFor('pageMeta') %>
<!-- Meta Tags -->

<!-- Title -->
<title><%= title %></title>

<%- contentFor('topStyles') %>
<link rel="stylesheet" href="/assets/plugins/tabler-icons/tabler-icons.css">
<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/assets/plugins/flatpickr/flatpickr.min.css">
<link rel="stylesheet" href="/assets/plugins/%40simonwep/pickr/themes/nano.min.css">
<link rel="stylesheet" href="/assets/plugins/daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="/assets/css/style.css">

<%- contentFor('bottomScript') %>
<script>
    console.log("vivek")
</script>
<script type="text/javascript" src="/assets/js/jquery-3.7.1.min.js"></script> 
<script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script> 
<script type="text/javascript" src="/assets/js/feather.min.js"></script> 
<script type="text/javascript" src="/assets/js/jquery.slimscroll.js"></script> 
<script type="text/javascript" src="/assets/js/jquery.slimscroll.min.js"></script> 
<script type="text/javascript" src="/assets/js/moment.min.js"></script> 
<script type="text/javascript" src="/assets/plugins/daterangepicker/daterangepicker.js"></script> 
<script type="text/javascript" src="/assets/plugins/apexchart/apexcharts.min.js"></script> 
<script type="text/javascript" src="/assets/plugins/apexchart/chart-data.js"></script> 
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="/assets/js/dataTables.bootstrap5.min.js"></script> 
<script type="text/javascript" src="/assets/js/jsonscript.js"></script> 
<script type="text/javascript" src="/assets/plugins/%40simonwep/pickr/pickr.es5.min.js"></script> 
<script type="text/javascript" src="/assets/js/theme-colorpicker.js"></script> 
<script type="text/javascript" src="/assets/js/script.js"></script>
<script type="text/javascript" src="/assets/js/facilityMaster.js"></script>