<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <div class="row align-items-center ">
            <div class="col-12">
              <div class="d-flex align-items-center flex-wrap justify-content-between">
                <h3 class="page-title">Add ASN</h3>
                <div class="d-flex align-items-center flex-wrap justify-content-sm-end gap-2">
                  <a href="/asn/add" class="btn btn-primary"><i class="ti ti-square-rounded-plus me-2"></i>Add New ASN</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Add Information</h5>
          </div>
          <div class="card-body">
            <form action="#">
              <div class="row">
                <div class="col-md-3 mb-3">
                  <label class="form-label">Company<span class="text-danger">*</span></label>
                  <select class="form-select" id="SelExample">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                  </select>
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Division<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Buyer<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Division Manager<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Manager<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Merchandiser<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Style Code<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">TP BSR<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Style Description<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Fabric Description<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Sample Ref no<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">OC<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Buyer PO No<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">OC BSR<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Sustainibility<span class="text-danger">*</span></label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected="">Select Sustainibility</option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                  </select>
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Scope<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Product Group<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Sub Category<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Gender<span class="text-danger">*</span></label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected="">Select Gender</option>
                    <option value="1">LADIES</option>
                    <option value="2">MENS</option>
                    <option value="3">GIRLS</option>
                    <option value="4">INDOCHINE INTERNATIONAL UK LTD (Formerly Known As CREATIVE DESIGN INDUSTRIES LTD)</option>
                  </select>
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Order Type<span class="text-danger">*</span></label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected="">Select Order Type</option>
                    <option value="1">CMPT LC</option>
                    <option value="2">FOB</option>
                  </select>
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Buyer Order Qty<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Shipped Qty<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Shipment No.<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">BL Date<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">Destination Country<span class="text-danger">*</span></label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected="">Select Country</option>
                    <option value="1">United States</option>
                    <option value="2">United Kingdom</option>
                    <option value="3">GIRLS</option>
                    <option value="4">INDOCHINE INTERNATIONAL UK LTD (Formerly Known As CREATIVE DESIGN INDUSTRIES LTD)</option>
                  </select>
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">GMPO Bill To<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">GMPO BILL To Company<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">ERP Garment Supplier<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-label">ERP Fabric Supplier<span class="text-danger">*</span></label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="text-end">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%- contentFor('pageMeta') %>
<!-- Meta Tags -->

<!-- Title -->
<title><%= title %></title>

<%- contentFor('topStyles') %>
<style>.dataTables_filter {display: none;}</style>
<link rel="stylesheet" href="/assets/plugins/tabler-icons/tabler-icons.css">
<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/assets/plugins/flatpickr/flatpickr.min.css">
<link rel="stylesheet" href="/assets/plugins/%40simonwep/pickr/themes/nano.min.css">
<link rel="stylesheet" href="/assets/plugins/daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel='stylesheet' href='/assets/plugins/dataTable/buttons.dataTables.min.css'>
<link rel="stylesheet" href="/assets/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="/assets/css/style.css">

<%- contentFor('bottomScript') %>
<script>
    const supplier_data = <%- JSON.stringify(supplier_data) %>;
</script>
<script type="text/javascript" src="/assets/js/jquery-3.7.1.min.js"></script> 
<script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script> 
<script type="text/javascript" src="/assets/js/feather.min.js"></script> 
<script type="text/javascript" src="/assets/js/jquery.slimscroll.js"></script> 
<script type="text/javascript" src="/assets/js/moment.min.js"></script> 
<script type="text/javascript" src="/assets/plugins/daterangepicker/daterangepicker.js"></script> 
<script type="text/javascript" src="/assets/plugins/apexchart/apexcharts.min.js"></script> 
<script type="text/javascript" src="/assets/plugins/apexchart/chart-data.js"></script> 
<!-- <script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>  -->
<script type="text/javascript" src="/assets/js/dataTables.bootstrap5.min.js"></script> 
<script type="text/javascript" src="/assets/js/jsonscript.js"></script> 
<script type="text/javascript" src="/assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="/assets/plugins/sweetalert/sweetalerts.min.js"></script> 
<script type="text/javascript" src="/assets/js/script.js"></script>
<script type="text/javascript" src="/assets/js/helper.js"></script>


<script src='/assets/plugins/dataTable/jquery.dataTables.min.js'></script> 
<script src='/assets/plugins/dataTable/dataTables.buttons.min.js'></script> 
<script src='/assets/plugins/dataTable/buttons.flash.min.js'></script> 
<script src='/assets/plugins/dataTable/buttons.html5.min.js'></script> 
<script src='/assets/plugins/dataTable/buttons.print.min.js'></script> 
<script src='/assets/plugins/dataTable/jszip.min.js'></script> 
<script>
  $(document).ready(function() {
  /*if($('.datatable').length > 0) {*/
      $('.asnTable').DataTable( {
        dom: 'Bfrtip',
        
        //"bFilter": false, 
        //"bInfo": false,
        "autoWidth": true,
        "ordering": true,
        buttons: ['copy','excel',],
        "language": {
            search: ' ',
            searchPlaceholder: "Search asn data",
            sLengthMenu: '_MENU_',
            info: "_START_ - _END_ of _TOTAL_ items",
            lengthMenu:     "Show _MENU_ entries",
            paginate: {
              next: 'Next <i class=" fa fa-angle-right"></i> ',
              previous: '<i class="fa fa-angle-left"></i> Prev '
            },
           },
            initComplete: (settings, json)=>{
            $('.dataTables_paginate').appendTo('.datatable-paginate');
            $('.dataTables_length').appendTo('.datatable-length');
            $('.dataTables_length select').addClass('form-select');
            $('.dataTables_filter').appendTo('.datatableActionBar');
            $('.dataTables_filter input').addClass('form-control');
            $('.dt-buttons').appendTo('.datatableActionBar');
            $('.dataTables_info').appendTo('.dataTablesInfo');
            
            
          },	
      });
      /*};*/
  });
</script>
