<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <div class="row align-items-center ">
            <div class="col-12">
              <div class="d-flex align-items-center flex-wrap justify-content-between">
                <h3 class="page-title">ASN Data</h3>
                <div class="d-flex align-items-center flex-wrap justify-content-sm-end gap-2">
                  <a href="/asn/add" class="btn btn-primary"><i class="ti ti-square-rounded-plus me-2"></i>Add New ASN</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"> 
            <!-- Search -->
            <div class="row align-items-center">
              <div class="col-sm-4">
                <div class="icon-form mb-3 mb-sm-0"> <span class="form-icon"><i class="ti ti-search"></i></span>
                  <input type="text" class="form-control" placeholder="Search Invoices">
                </div>
              </div>
              <div class="col-sm-8">
                <div class="d-flex align-items-center flex-wrap row-gap-2 justify-content-sm-end">
                  
                   </div>
              </div>
            </div>
            <!-- /Search --> 
          </div>
          <div class="card-body">
            <div class="datatableActionBar d-flex align-items-center justify-content-sm-between mb-3"></div>              
            <!-- Projects List -->
            <div class="table-responsive custom-table">
              <table class="table asnTable" id="#asnTable">
                <thead class="thead-light">
                  <tr>
                    <th>Company</th>
                    <th>Division</th>
                    <th>Buyer</th>
                    <th>Division Manager</th>
                    <th>Manager</th>
                    <th>Merchandiser</th>
                    <th>Sourcing Manager</th>
                    <th>Style Code</th>
                    <th>TP BSR</th>
                    <th>Style Description</th>
                    <th>Fabric Description</th>
                    <th>Sample Ref no</th>
                    <th>OC</th>
                    <th>Buyer PO No</th>
                    <th>OC BSR</th>
                    <th>Sustainibility</th>
                    <th>Scope</th>
                    <th>Product Group</th>
                    <th>Sub Category</th>
                    <th>Gender</th>
                    <th>Order Type</th>
                    <th>Buyer Order Qty</th>
                    <th>Shipped Qty</th>
                    <th>Shipment No.</th>
                    <th>BL Date</th>
                    <th>Destination Country<br></th>
                    <th>GMPO Bill To</th>
                    <th>GMPO BILL To Company</th>
                    <th>ERP Garment Supplier</th>
                    <th>ERP Fabric Supplier</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL FZE</td>
                    <td>IIF BANGLADESH</td>
                    <td>CORTEFIEL COMMERCIALS.A.</td>
                    <td>RAGHAV PAUL</td>
                    <td>RUBY ZHANG</td>
                    <td>RUBY ZHANG</td>
                    <td>INDIKA </td>
                    <td>IIFBD100760</td>
                    <td>9DS114 3089370</td>
                    <td>9DS114</td>
                    <td>Cotton 100 %</td>
                    <td>&nbsp;</td>
                    <td>IIFBD.CORTEFIEL.059.2024.1</td>
                    <td>9752446</td>
                    <td>9DS114 3089370 Blue</td>
                    <td>No</td>
                    <td>&nbsp;</td>
                    <td>WOVEN-DENIM</td>
                    <td>SHORTS</td>
                    <td>LADIES</td>
                    <td>CMPT LC</td>
                    <td>659</td>
                    <td>659</td>
                    <td>GDL-025-25</td>
                    <td>2/22/2025 12:00:00 AM</td>
                    <td>United States</td>
                    <td>My Company</td>
                    <td>INDOCHINE INTERNATIONAL FZE</td>
                    <td>GLAMOUR DRESSES LIMITED</td>
                    <td>US Denim Mills LTD.</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL FZE</td>
                    <td>IIF BANGLADESH</td>
                    <td>CORTEFIEL COMMERCIALS.A.</td>
                    <td>RAGHAV PAUL</td>
                    <td>RUBY ZHANG</td>
                    <td>RUBY ZHANG</td>
                    <td>INDIKA </td>
                    <td>IIFBD100760</td>
                    <td>9DS114 3089370</td>
                    <td>9DS114</td>
                    <td>Cotton 80% Poly 20%</td>
                    <td>&nbsp;</td>
                    <td>IIFBD.CORTEFIEL.055.2024.1</td>
                    <td>9752442</td>
                    <td>9DS114 3089370 Green</td>
                    <td>No</td>
                    <td>&nbsp;</td>
                    <td>WOVEN-DENIM</td>
                    <td>SHORTS</td>
                    <td>LADIES</td>
                    <td>CMPT LC</td>
                    <td>204</td>
                    <td>204</td>
                    <td>GDL-025-25</td>
                    <td>2/22/2025 12:00:00 AM</td>
                    <td>United States</td>
                    <td>My Company</td>
                    <td>INDOCHINE INTERNATIONAL FZE</td>
                    <td>GLAMOUR DRESSES LIMITED</td>
                    <td>Arfa Mills Ltd</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL HONG KONG COMPANY LIMITED</td>
                    <td>IIHK HANGZHOU</td>
                    <td>ASOS.COM LTD</td>
                    <td>GITI CHADHA</td>
                    <td>CANOE ZHOU</td>
                    <td>CANOE ZHOU</td>
                    <td>CANOE ZHOU</td>
                    <td>IHKHZ104477</td>
                    <td>140594766</td>
                    <td>ASOS DESIGN linen look wrap skort in stone</td>
                    <td>Recycled Cotton 75 and Cotton 25</td>
                    <td>&nbsp;</td>
                    <td>IHKHZ.ASOSCOMLTD.02712.2024.1</td>
                    <td>500033056068</td>
                    <td>140594766</td>
                    <td>Yes</td>
                    <td>BCI</td>
                    <td>WOVEN-NON DENIM</td>
                    <td>SHORTS</td>
                    <td>LADIES</td>
                    <td>FOB</td>
                    <td>620</td>
                    <td>633</td>
                    <td>2025YX0366</td>
                    <td>3/5/2025 12:00:00 AM</td>
                    <td>United States</td>
                    <td>My Other Company</td>
                    <td>INDOCHINE INTERNATIONAL TRADING CO.LTD[杭州意欣时装贸易有限公司]</td>
                    <td>SHAOXING SHUFULAN GARMENTS CO., LTD[绍兴市淑芙岚服饰有限公司]</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL HONG KONG COMPANY LIMITED</td>
                    <td>IIHK HANGZHOU</td>
                    <td>ASOS.COM LTD</td>
                    <td>GITI CHADHA</td>
                    <td>CANOE ZHOU</td>
                    <td>CANOE ZHOU</td>
                    <td>CANOE ZHOU</td>
                    <td>IHKHZ104475</td>
                    <td>140594768</td>
                    <td>ASOS DESIGN linen look wrap skort in black</td>
                    <td>Cotton 80% Poly 20%</td>
                    <td>&nbsp;</td>
                    <td>IHKHZ.ASOSCOMLTD.02703.2024.1</td>
                    <td>500033056071</td>
                    <td>140594768</td>
                    <td>No</td>
                    <td>&nbsp;</td>
                    <td>WOVEN-NON DENIM</td>
                    <td>SHORTS</td>
                    <td>LADIES</td>
                    <td>FOB</td>
                    <td>990</td>
                    <td>1046</td>
                    <td>2025YX0366</td>
                    <td>3/5/2025 12:00:00 AM</td>
                    <td>United States</td>
                    <td>My Other Company</td>
                    <td>INDOCHINE INTERNATIONAL TRADING CO.LTD[杭州意欣时装贸易有限公司]</td>
                    <td>SHAOXING SHUFULAN GARMENTS CO., LTD[绍兴市淑芙岚服饰有限公司]</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL HONG KONG COMPANY LIMITED</td>
                    <td>IIHK BANGLADESH</td>
                    <td>ASOS.COM LTD</td>
                    <td>ANAND S KUMAR</td>
                    <td>SHOHEL</td>
                    <td>SHOHEL</td>
                    <td>SHOHEL</td>
                    <td>IHKBD103202</td>
                    <td>140831701</td>
                    <td>ASOS DESIGN longer length denim jorts</td>
                    <td>Cotton 80% Poly 20%</td>
                    <td>&nbsp;</td>
                    <td>IHKBD.ASOSCOMLTD.04466.2024.1</td>
                    <td>500032975396</td>
                    <td>140831701</td>
                    <td>No</td>
                    <td>&nbsp;</td>
                    <td>WOVEN-NON DENIM</td>
                    <td>TROUSERS</td>
                    <td>MENS</td>
                    <td>FOB</td>
                    <td>240</td>
                    <td>240</td>
                    <td>LFL/192/2025 B</td>
                    <td>2/27/2025 12:00:00 AM</td>
                    <td>United States</td>
                    <td>My Company</td>
                    <td>INDOCHINE INTERNATIONAL HONG KONG COMPANY LIMITED</td>
                    <td>LODESTAR FASHIONS LIMIT</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL EMEA FZE</td>
                    <td>EMEA HANGZHOU</td>
                    <td>NEW LOOK RETAILERS LIMITED</td>
                    <td>SUSAN GUO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>EMEHZ106592</td>
                    <td>9246049</td>
                    <td>VDE CO ORD ENZO TOWE</td>
                    <td>Cotton 80% Poly 20%</td>
                    <td>&nbsp;</td>
                    <td>EMEHZ.NEWLOOK.02064.2024.1</td>
                    <td>3595506</td>
                    <td>9246049</td>
                    <td>No</td>
                    <td>&nbsp;</td>
                    <td>JERSEY/CUT &amp; SEW</td>
                    <td>SHORTS</td>
                    <td>GIRLS</td>
                    <td>FOB</td>
                    <td>54</td>
                    <td>54</td>
                    <td>2025YX0040.1</td>
                    <td>3/4/2025 12:00:00 AM</td>
                    <td>United Kingdom</td>
                    <td>My Other Company</td>
                    <td>INDOCHINE INTERNATIONAL TRADING CO.LTD[杭州意欣时装贸易有限公司]</td>
                    <td>NINGBO YIWEN GARMENT CO., LTD[宁波市衣闻服装有限公司]</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL EMEA FZE</td>
                    <td>EMEA HANGZHOU</td>
                    <td>NEW LOOK RETAILERS LIMITED</td>
                    <td>SUSAN GUO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>EMEHZ106592</td>
                    <td>9246049</td>
                    <td>VDE CO ORD ENZO TOWE</td>
                    <td>recycled Polyester 30% and Cotton 70%</td>
                    <td>&nbsp;</td>
                    <td>EMEHZ.NEWLOOK.02065.2024.1</td>
                    <td>3595505</td>
                    <td>9246049</td>
                    <td>Yes</td>
                    <td>GRC</td>
                    <td>JERSEY/CUT &amp; SEW</td>
                    <td>SHORTS</td>
                    <td>GIRLS</td>
                    <td>FOB</td>
                    <td>489</td>
                    <td>489</td>
                    <td>2025YX0040.1</td>
                    <td>3/4/2025 12:00:00 AM</td>
                    <td>United Kingdom</td>
                    <td>My Other Company</td>
                    <td>INDOCHINE INTERNATIONAL TRADING CO.LTD[杭州意欣时装贸易有限公司]</td>
                    <td>NINGBO YIWEN GARMENT CO., LTD[宁波市衣闻服装有限公司]</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL EMEA FZE</td>
                    <td>EMEA HANGZHOU</td>
                    <td>NEW LOOK RETAILERS LIMITED</td>
                    <td>SUSAN GUO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>EMEHZ106591</td>
                    <td>9246151</td>
                    <td>VDE CO ORD TOWEL SID</td>
                    <td>Cotton 100 %</td>
                    <td>&nbsp;</td>
                    <td>EMEHZ.NEWLOOK.02062.2024.1</td>
                    <td>3595510</td>
                    <td>9246151</td>
                    <td>No</td>
                    <td>&nbsp;</td>
                    <td>JERSEY/CUT &amp; SEW</td>
                    <td>SHORTS</td>
                    <td>GIRLS</td>
                    <td>FOB</td>
                    <td>54</td>
                    <td>54</td>
                    <td>2025YX0040.1</td>
                    <td>3/4/2025 12:00:00 AM</td>
                    <td>United Kingdom</td>
                    <td>My Other Company</td>
                    <td>INDOCHINE INTERNATIONAL TRADING CO.LTD[杭州意欣时装贸易有限公司]</td>
                    <td>NINGBO YIWEN GARMENT CO., LTD[宁波市衣闻服装有限公司]</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL UK LTD (Formerly Known As CREATIVE DESIGN INDUSTRIES LTD)</td>
                    <td>IIUK HANGZHOU</td>
                    <td>NEW LOOK RETAILERS LIMITED</td>
                    <td>GITI CHADHA</td>
                    <td>ELAINE JIA</td>
                    <td>ELAINE JIA</td>
                    <td>ELAINE JIA</td>
                    <td>IUKHZ103577</td>
                    <td>9230676</td>
                    <td>BETTY BIB FRILL SSLV</td>
                    <td>Cotton 100 %</td>
                    <td>&nbsp;</td>
                    <td>IUKHZ.NEWLOOK.841.2024.1</td>
                    <td>3591294</td>
                    <td>9230676</td>
                    <td>Yes</td>
                    <td>BCI</td>
                    <td>WOVEN-NON DENIM</td>
                    <td>BLOUSES</td>
                    <td>LADIES</td>
                    <td>FOB</td>
                    <td>2132</td>
                    <td>13</td>
                    <td>DHL3639134623</td>
                    <td>2/24/2025 12:00:00 AM</td>
                    <td>United Kingdom</td>
                    <td>My Other Company</td>
                    <td>DEXIN INTERNATIONAL CO. LTD (德清德欣时装贸易有限公司)</td>
                    <td>DEQIN HAITUN GARMENT CO. LTD[德清海豚制衣]</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL UK LTD (Formerly Known As CREATIVE DESIGN INDUSTRIES LTD)</td>
                    <td>IIUK HANGZHOU</td>
                    <td>NEW LOOK RETAILERS LIMITED</td>
                    <td>GITI CHADHA</td>
                    <td>ELAINE JIA</td>
                    <td>ELAINE JIA</td>
                    <td>ELAINE JIA</td>
                    <td>IUKHZ103577</td>
                    <td>9230676</td>
                    <td>BETTY BIB FRILL SSLV</td>
                    <td>Cotton 100 %</td>
                    <td>&nbsp;</td>
                    <td>IUKHZ.NEWLOOK.843.2024.1</td>
                    <td>3591291</td>
                    <td>9230676</td>
                    <td>No</td>
                    <td>&nbsp;</td>
                    <td>WOVEN-NON DENIM</td>
                    <td>BLOUSES</td>
                    <td>LADIES</td>
                    <td>FOB</td>
                    <td>2384</td>
                    <td>13</td>
                    <td>DHL3639134623</td>
                    <td>2/24/2025 12:00:00 AM</td>
                    <td>United Kingdom</td>
                    <td>My Other Company</td>
                    <td>DEXIN INTERNATIONAL CO. LTD (德清德欣时装贸易有限公司)</td>
                    <td>DEQIN HAITUN GARMENT CO. LTD[德清海豚制衣]</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL FZE</td>
                    <td>IIF BANGLADESH</td>
                    <td>CORTEFIEL COMMERCIALS.A.</td>
                    <td>RAGHAV PAUL</td>
                    <td>RUBY ZHANG</td>
                    <td>RUBY ZHANG</td>
                    <td>INDIKA </td>
                    <td>IIFBD100760</td>
                    <td>9DS114 3089370</td>
                    <td>9DS114</td>
                    <td>Cotton 100 %</td>
                    <td>&nbsp;</td>
                    <td>IIFBD.CORTEFIEL.059.2024.1</td>
                    <td>9752446</td>
                    <td>9DS114 3089370 Blue</td>
                    <td>No</td>
                    <td>&nbsp;</td>
                    <td>WOVEN-DENIM</td>
                    <td>SHORTS</td>
                    <td>LADIES</td>
                    <td>CMPT LC</td>
                    <td>659</td>
                    <td>659</td>
                    <td>GDL-025-25</td>
                    <td>2/22/2025 12:00:00 AM</td>
                    <td>United States</td>
                    <td>My Company</td>
                    <td>INDOCHINE INTERNATIONAL FZE</td>
                    <td>GLAMOUR DRESSES LIMITED</td>
                    <td>US Denim Mills LTD.</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL FZE</td>
                    <td>IIF BANGLADESH</td>
                    <td>CORTEFIEL COMMERCIALS.A.</td>
                    <td>RAGHAV PAUL</td>
                    <td>RUBY ZHANG</td>
                    <td>RUBY ZHANG</td>
                    <td>INDIKA </td>
                    <td>IIFBD100760</td>
                    <td>9DS114 3089370</td>
                    <td>9DS114</td>
                    <td>Cotton 80% Poly 20%</td>
                    <td>&nbsp;</td>
                    <td>IIFBD.CORTEFIEL.055.2024.1</td>
                    <td>9752442</td>
                    <td>9DS114 3089370 Green</td>
                    <td>No</td>
                    <td>&nbsp;</td>
                    <td>WOVEN-DENIM</td>
                    <td>SHORTS</td>
                    <td>LADIES</td>
                    <td>CMPT LC</td>
                    <td>204</td>
                    <td>204</td>
                    <td>GDL-025-25</td>
                    <td>2/22/2025 12:00:00 AM</td>
                    <td>United States</td>
                    <td>My Company</td>
                    <td>INDOCHINE INTERNATIONAL FZE</td>
                    <td>GLAMOUR DRESSES LIMITED</td>
                    <td>Arfa Mills Ltd</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL HONG KONG COMPANY LIMITED</td>
                    <td>IIHK HANGZHOU</td>
                    <td>ASOS.COM LTD</td>
                    <td>GITI CHADHA</td>
                    <td>CANOE ZHOU</td>
                    <td>CANOE ZHOU</td>
                    <td>CANOE ZHOU</td>
                    <td>IHKHZ104477</td>
                    <td>140594766</td>
                    <td>ASOS DESIGN linen look wrap skort in stone</td>
                    <td>Recycled Cotton 75 and Cotton 25</td>
                    <td>&nbsp;</td>
                    <td>IHKHZ.ASOSCOMLTD.02712.2024.1</td>
                    <td>500033056068</td>
                    <td>140594766</td>
                    <td>Yes</td>
                    <td>BCI</td>
                    <td>WOVEN-NON DENIM</td>
                    <td>SHORTS</td>
                    <td>LADIES</td>
                    <td>FOB</td>
                    <td>620</td>
                    <td>633</td>
                    <td>2025YX0366</td>
                    <td>3/5/2025 12:00:00 AM</td>
                    <td>United States</td>
                    <td>My Other Company</td>
                    <td>INDOCHINE INTERNATIONAL TRADING CO.LTD[杭州意欣时装贸易有限公司]</td>
                    <td>SHAOXING SHUFULAN GARMENTS CO., LTD[绍兴市淑芙岚服饰有限公司]</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL HONG KONG COMPANY LIMITED</td>
                    <td>IIHK HANGZHOU</td>
                    <td>ASOS.COM LTD</td>
                    <td>GITI CHADHA</td>
                    <td>CANOE ZHOU</td>
                    <td>CANOE ZHOU</td>
                    <td>CANOE ZHOU</td>
                    <td>IHKHZ104475</td>
                    <td>140594768</td>
                    <td>ASOS DESIGN linen look wrap skort in black</td>
                    <td>Cotton 80% Poly 20%</td>
                    <td>&nbsp;</td>
                    <td>IHKHZ.ASOSCOMLTD.02703.2024.1</td>
                    <td>500033056071</td>
                    <td>140594768</td>
                    <td>No</td>
                    <td>&nbsp;</td>
                    <td>WOVEN-NON DENIM</td>
                    <td>SHORTS</td>
                    <td>LADIES</td>
                    <td>FOB</td>
                    <td>990</td>
                    <td>1046</td>
                    <td>2025YX0366</td>
                    <td>3/5/2025 12:00:00 AM</td>
                    <td>United States</td>
                    <td>My Other Company</td>
                    <td>INDOCHINE INTERNATIONAL TRADING CO.LTD[杭州意欣时装贸易有限公司]</td>
                    <td>SHAOXING SHUFULAN GARMENTS CO., LTD[绍兴市淑芙岚服饰有限公司]</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL HONG KONG COMPANY LIMITED</td>
                    <td>IIHK BANGLADESH</td>
                    <td>ASOS.COM LTD</td>
                    <td>ANAND S KUMAR</td>
                    <td>SHOHEL</td>
                    <td>SHOHEL</td>
                    <td>SHOHEL</td>
                    <td>IHKBD103202</td>
                    <td>140831701</td>
                    <td>ASOS DESIGN longer length denim jorts</td>
                    <td>Cotton 80% Poly 20%</td>
                    <td>&nbsp;</td>
                    <td>IHKBD.ASOSCOMLTD.04466.2024.1</td>
                    <td>500032975396</td>
                    <td>140831701</td>
                    <td>No</td>
                    <td>&nbsp;</td>
                    <td>WOVEN-NON DENIM</td>
                    <td>TROUSERS</td>
                    <td>MENS</td>
                    <td>FOB</td>
                    <td>240</td>
                    <td>240</td>
                    <td>LFL/192/2025 B</td>
                    <td>2/27/2025 12:00:00 AM</td>
                    <td>United States</td>
                    <td>My Company</td>
                    <td>INDOCHINE INTERNATIONAL HONG KONG COMPANY LIMITED</td>
                    <td>LODESTAR FASHIONS LIMIT</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL EMEA FZE</td>
                    <td>EMEA HANGZHOU</td>
                    <td>NEW LOOK RETAILERS LIMITED</td>
                    <td>SUSAN GUO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>EMEHZ106592</td>
                    <td>9246049</td>
                    <td>VDE CO ORD ENZO TOWE</td>
                    <td>Cotton 80% Poly 20%</td>
                    <td>&nbsp;</td>
                    <td>EMEHZ.NEWLOOK.02064.2024.1</td>
                    <td>3595506</td>
                    <td>9246049</td>
                    <td>No</td>
                    <td>&nbsp;</td>
                    <td>JERSEY/CUT &amp; SEW</td>
                    <td>SHORTS</td>
                    <td>GIRLS</td>
                    <td>FOB</td>
                    <td>54</td>
                    <td>54</td>
                    <td>2025YX0040.1</td>
                    <td>3/4/2025 12:00:00 AM</td>
                    <td>United Kingdom</td>
                    <td>My Other Company</td>
                    <td>INDOCHINE INTERNATIONAL TRADING CO.LTD[杭州意欣时装贸易有限公司]</td>
                    <td>NINGBO YIWEN GARMENT CO., LTD[宁波市衣闻服装有限公司]</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL EMEA FZE</td>
                    <td>EMEA HANGZHOU</td>
                    <td>NEW LOOK RETAILERS LIMITED</td>
                    <td>SUSAN GUO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>EMEHZ106592</td>
                    <td>9246049</td>
                    <td>VDE CO ORD ENZO TOWE</td>
                    <td>recycled Polyester 30% and Cotton 70%</td>
                    <td>&nbsp;</td>
                    <td>EMEHZ.NEWLOOK.02065.2024.1</td>
                    <td>3595505</td>
                    <td>9246049</td>
                    <td>Yes</td>
                    <td>GRC</td>
                    <td>JERSEY/CUT &amp; SEW</td>
                    <td>SHORTS</td>
                    <td>GIRLS</td>
                    <td>FOB</td>
                    <td>489</td>
                    <td>489</td>
                    <td>2025YX0040.1</td>
                    <td>3/4/2025 12:00:00 AM</td>
                    <td>United Kingdom</td>
                    <td>My Other Company</td>
                    <td>INDOCHINE INTERNATIONAL TRADING CO.LTD[杭州意欣时装贸易有限公司]</td>
                    <td>NINGBO YIWEN GARMENT CO., LTD[宁波市衣闻服装有限公司]</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL EMEA FZE</td>
                    <td>EMEA HANGZHOU</td>
                    <td>NEW LOOK RETAILERS LIMITED</td>
                    <td>SUSAN GUO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>SHIRLEY SHAO</td>
                    <td>EMEHZ106591</td>
                    <td>9246151</td>
                    <td>VDE CO ORD TOWEL SID</td>
                    <td>Cotton 100 %</td>
                    <td>&nbsp;</td>
                    <td>EMEHZ.NEWLOOK.02062.2024.1</td>
                    <td>3595510</td>
                    <td>9246151</td>
                    <td>No</td>
                    <td>&nbsp;</td>
                    <td>JERSEY/CUT &amp; SEW</td>
                    <td>SHORTS</td>
                    <td>GIRLS</td>
                    <td>FOB</td>
                    <td>54</td>
                    <td>54</td>
                    <td>2025YX0040.1</td>
                    <td>3/4/2025 12:00:00 AM</td>
                    <td>United Kingdom</td>
                    <td>My Other Company</td>
                    <td>INDOCHINE INTERNATIONAL TRADING CO.LTD[杭州意欣时装贸易有限公司]</td>
                    <td>NINGBO YIWEN GARMENT CO., LTD[宁波市衣闻服装有限公司]</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL UK LTD (Formerly Known As CREATIVE DESIGN INDUSTRIES LTD)</td>
                    <td>IIUK HANGZHOU</td>
                    <td>NEW LOOK RETAILERS LIMITED</td>
                    <td>GITI CHADHA</td>
                    <td>ELAINE JIA</td>
                    <td>ELAINE JIA</td>
                    <td>ELAINE JIA</td>
                    <td>IUKHZ103577</td>
                    <td>9230676</td>
                    <td>BETTY BIB FRILL SSLV</td>
                    <td>Cotton 100 %</td>
                    <td>&nbsp;</td>
                    <td>IUKHZ.NEWLOOK.841.2024.1</td>
                    <td>3591294</td>
                    <td>9230676</td>
                    <td>Yes</td>
                    <td>BCI</td>
                    <td>WOVEN-NON DENIM</td>
                    <td>BLOUSES</td>
                    <td>LADIES</td>
                    <td>FOB</td>
                    <td>2132</td>
                    <td>13</td>
                    <td>DHL3639134623</td>
                    <td>2/24/2025 12:00:00 AM</td>
                    <td>United Kingdom</td>
                    <td>My Other Company</td>
                    <td>DEXIN INTERNATIONAL CO. LTD (德清德欣时装贸易有限公司)</td>
                    <td>DEQIN HAITUN GARMENT CO. LTD[德清海豚制衣]</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>INDOCHINE INTERNATIONAL UK LTD (Formerly Known As CREATIVE DESIGN INDUSTRIES LTD)</td>
                    <td>IIUK HANGZHOU</td>
                    <td>NEW LOOK RETAILERS LIMITED</td>
                    <td>GITI CHADHA</td>
                    <td>ELAINE JIA</td>
                    <td>ELAINE JIA</td>
                    <td>ELAINE JIA</td>
                    <td>IUKHZ103577</td>
                    <td>9230676</td>
                    <td>BETTY BIB FRILL SSLV</td>
                    <td>Cotton 100 %</td>
                    <td>&nbsp;</td>
                    <td>IUKHZ.NEWLOOK.843.2024.1</td>
                    <td>3591291</td>
                    <td>9230676</td>
                    <td>No</td>
                    <td>&nbsp;</td>
                    <td>WOVEN-NON DENIM</td>
                    <td>BLOUSES</td>
                    <td>LADIES</td>
                    <td>FOB</td>
                    <td>2384</td>
                    <td>13</td>
                    <td>DHL3639134623</td>
                    <td>2/24/2025 12:00:00 AM</td>
                    <td>United Kingdom</td>
                    <td>My Other Company</td>
                    <td>DEXIN INTERNATIONAL CO. LTD (德清德欣时装贸易有限公司)</td>
                    <td>DEQIN HAITUN GARMENT CO. LTD[德清海豚制衣]</td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="datatable-length"></div>
				        <div class="dataTablesInfo"></div>	
              </div>
              <div class="col-md-6">
                <div class="datatable-paginate"></div>
              </div>
            </div>
            <!-- /Projects List --> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%- contentFor('pageMeta') %>
<!-- Meta Tags -->

<!-- Title -->
<title><%= title %></title>

<%- contentFor('topStyles') %>
<style>.dataTables_filter {display: none;}</style>
<link rel="stylesheet" href="/assets/plugins/tabler-icons/tabler-icons.css">
<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/assets/plugins/flatpickr/flatpickr.min.css">
<link rel="stylesheet" href="/assets/plugins/%40simonwep/pickr/themes/nano.min.css">
<link rel="stylesheet" href="/assets/plugins/daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel='stylesheet' href='/assets/plugins/dataTable/buttons.dataTables.min.css'>
<link rel="stylesheet" href="/assets/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="/assets/css/style.css">

<%- contentFor('bottomScript') %>
<script>
    const supplier_data = <%- JSON.stringify(supplier_data) %>;
</script>
<script type="text/javascript" src="/assets/js/jquery-3.7.1.min.js"></script> 
<script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script> 
<script type="text/javascript" src="/assets/js/feather.min.js"></script> 
<script type="text/javascript" src="/assets/js/jquery.slimscroll.js"></script> 
<script type="text/javascript" src="/assets/js/moment.min.js"></script> 
<script type="text/javascript" src="/assets/plugins/daterangepicker/daterangepicker.js"></script> 
<script type="text/javascript" src="/assets/plugins/apexchart/apexcharts.min.js"></script> 
<script type="text/javascript" src="/assets/plugins/apexchart/chart-data.js"></script> 
<!-- <script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>  -->
<script type="text/javascript" src="/assets/js/dataTables.bootstrap5.min.js"></script> 
<script type="text/javascript" src="/assets/js/jsonscript.js"></script> 
<script type="text/javascript" src="/assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="/assets/plugins/sweetalert/sweetalerts.min.js"></script> 
<script type="text/javascript" src="/assets/js/script.js"></script>
<script type="text/javascript" src="/assets/js/helper.js"></script>


<script src='/assets/plugins/dataTable/jquery.dataTables.min.js'></script> 
<script src='/assets/plugins/dataTable/dataTables.buttons.min.js'></script> 
<script src='/assets/plugins/dataTable/buttons.flash.min.js'></script> 
<script src='/assets/plugins/dataTable/buttons.html5.min.js'></script> 
<script src='/assets/plugins/dataTable/buttons.print.min.js'></script> 
<script src='/assets/plugins/dataTable/jszip.min.js'></script> 
<script>
  $(document).ready(function() {
  /*if($('.datatable').length > 0) {*/
      $('.asnTable').DataTable( {
        dom: 'Bfrtip',
        
        //"bFilter": false, 
        //"bInfo": false,
        "autoWidth": true,
        "ordering": true,
        buttons: ['copy','excel',],
        "language": {
            search: ' ',
            searchPlaceholder: "Search asn data",
            sLengthMenu: '_MENU_',
            info: "_START_ - _END_ of _TOTAL_ items",
            lengthMenu:     "Show _MENU_ entries",
            paginate: {
              next: 'Next <i class=" fa fa-angle-right"></i> ',
              previous: '<i class="fa fa-angle-left"></i> Prev '
            },
           },
            initComplete: (settings, json)=>{
            $('.dataTables_paginate').appendTo('.datatable-paginate');
            $('.dataTables_length').appendTo('.datatable-length');
            $('.dataTables_length select').addClass('form-select');
            $('.dataTables_filter').appendTo('.datatableActionBar');
            $('.dataTables_filter input').addClass('form-control');
            $('.dt-buttons').appendTo('.datatableActionBar');
            $('.dataTables_info').appendTo('.dataTablesInfo');
            
            
          },	
      });
      /*};*/
  });
</script>
