<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <div class="row">
            <div class="col">
              <h3 class="page-title">Edit Supplier</h3>
            </div>
          </div>
        </div>
        <div class="card">

          <div class="card-header">
            <h5 class="card-title">Supplier Information</h5>
          </div>
          <div class="card-body">
            <form id="update-supplier">
              <input type="hidden" name="id" value="<%= supplier._id %>">
              <div class="row">
                <div class="col-md-4 mb-3">
                  <label class="form-label">Supplier Name</label>
                  <input type="text" class="form-control" value="<%= supplier.name %>" name="name" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label class="form-label">Email</label>
                  <input type="text" class="form-control" value="<%= supplier.email %>" name="email" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label class="form-label">Telephone/Mobile</label>
                  <input type="text" class="form-control" value="<%= supplier.mobile %>" name="mobile" required>
                </div>
              </div>
              <h5 class="card-title">Postal Address</h5>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label class="form-label">Address</label>
                  <input type="text" class="form-control" value="<%= supplier.address %>" name="address" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label class="form-label">Country</label>
                  <select class="form-select" name="country">
                    <option selected="" value="0">Select Country</option>
                    <option value="USA">USA</option>
                    <option value="France">France</option>
                    <option value="India">India</option>
                    <option value="Spain">Spain</option>
                  </select>
                </div>
                <div class="col-md-4 mb-3">
                  <label class="form-label">City</label>
                  <input type="text" class="form-control" value="<%= supplier.city %>" name="city" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label class="form-label">Province/State</label>
                  <input type="text" class="form-control" value="<%= supplier.state %>" name="state" required>
                </div>
              </div>              
              <div class="row">              
                <div class="col-md-4 mb-3">
                  <label class="form-label">Agent</label>
                  <input type="text" class="form-control" value="<%= supplier.agent_name %>" name="agent" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label class="form-label">Registration Id</label>
                  <input type="text" class="form-control" value="<%= supplier.registration_id %>" name="registrationId">
                </div>
                <div class="col-md-4 mb-3">
                  <label class="form-label">Status</label>
                  <select class="form-select" name="status">
                    <option value="0">Status</option>
                    <option value="active" selected>Active</option>
                    <option class="inactive">Inactive</option>
                    <option class="pending">Pending</option>
                    <option class="blocked">Blocked</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <h5 class="card-title">Facility Master</h5>
                <div class="row">
                  <div class="mb-3 d-sm-flex align-items-center" style="gap:30px;">
                    <% if(facility_master && facility_master.length > 0) { %>
                      <% facility_master.forEach((facility, idx) => { %>
                        <div class="form-check form-check-md d-flex align-items-center">
                          <input class="form-check-input" type="checkbox" name="facility" value="<%= facility.id %>" id="<%= facility.id %>">
                          <label class="form-check-label" for="<%= facility.id %>"><%= facility.name %></label>
                        </div>
                      <% }) %>
                    <% } %>
                  </div>
                </div>
              </div>
              <div class="text-end">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%- contentFor('pageMeta') %>
<!-- Meta Tags -->

<!-- Title -->
<title><%= title %></title>

<%- contentFor('topStyles') %>
<link rel="stylesheet" href="/assets/plugins/tabler-icons/tabler-icons.css">
<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/assets/plugins/flatpickr/flatpickr.min.css">
<link rel="stylesheet" href="/assets/plugins/%40simonwep/pickr/themes/nano.min.css">
<link rel="stylesheet" href="/assets/plugins/daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="/assets/css/style.css">

<%- contentFor('bottomScript') %>
<script>
   
</script>
<script type="text/javascript" src="/assets/js/jquery-3.7.1.min.js"></script> 
<script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script> 
<script type="text/javascript" src="/assets/js/feather.min.js"></script> 
<script type="text/javascript" src="/assets/js/jquery.slimscroll.js"></script> 
<script type="text/javascript" src="/assets/js/moment.min.js"></script> 
<script type="text/javascript" src="/assets/plugins/daterangepicker/daterangepicker.js"></script> 
<script type="text/javascript" src="/assets/plugins/apexchart/apexcharts.min.js"></script> 
<script type="text/javascript" src="/assets/plugins/apexchart/chart-data.js"></script> 
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="/assets/js/dataTables.bootstrap5.min.js"></script> 
<script type="text/javascript" src="/assets/js/jsonscript.js"></script>
<script type="text/javascript" src="/assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="/assets/plugins/sweetalert/sweetalerts.min.js"></script> 
<script type="text/javascript" src="/assets/js/script.js"></script>
<script type="text/javascript" src="/assets/js/helper.js"></script>
<script type="text/javascript" src="/assets/js/update-supplier.js"></script>